@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0d0f11;
}

.nav-border {
  position: relative;
}

.nav-border::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 25%;
  width: 50%;
  border: 1px solid;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
